[Desktop Entry]
Type=Application
Version=1.0
Name=.ferdium-wrapped
Comment=.ferdium-wrappedstartup script
Exec=/nix/store/pyn2zvjiqxlzbd3zdazb6albr6y41ii1-ferdium-6.7.2/opt/Ferdium/.ferdium-wrapped
StartupNotify=false
Terminal=false